@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  font-family: "Azeret Mono", monospace; */
}
body{
    margin: 0px;
    padding: 0px;
}

/* nav style */
nav{
    margin: 0 auto;
}
.nav-content{
    height: 130px;
    width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.logo{
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
margin-left: 150px;
}
.resume{
    background-color: #fff;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
margin-right: 165px;
padding: 17px 24px 17px 24px;
color: rgb(13, 19, 33);
font-family: "Azeret Mono", monospace;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* banner style */
.banner-container{
    margin: 0px auto ;
    width: 1440px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-content{
    width: 998px;
    height: 582px;
    margin:26px auto 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-image{
    height: 230px;
    width: 230px;
    margin-top: 26px;
    margin-bottom: 32px;
}
.banner-text h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 36px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.banner-text p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: "Azeret Mono", monospace;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.banner-text button{

    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
border: none;
}
/* why web development style */
.development-container{
    width: 1140px;
    height: 1400px;
    margin: 75px auto;
    padding: 80px 95px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.development-content{
    width: 100%;
    height: 100%;
}
.development-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.development-text h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.development-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin: 24px 0px;
}
.development-answer{
    margin-top: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.answer-one , .answer-two, .answer-three{
    width: 946px;
    height: 336px;
    padding: 48px;
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    gap: 20%;
}
.answer-one-text, .answer-two-text, .answer-three-text{
    width: 50%;
    height: auto;
}
.answer-one-text h1, .answer-two-text h1, .answer-three-text h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin: 16px 0px
}
.answer-one-text p, .answer-two-text p, .answer-three-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin: 16px 0px;
}
.answer-one-text button, .answer-two-text button, .answer-three-text button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 20px 0px;
background-color: #fff;
}
.answer-one-img img, .answer-two-img img, .answer-three-img img{
    width: 275px;
height: 240px;
} 